@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

body {
  margin: 0;
  background-color: #f8f9fa;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e03131;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa5252;
}
